{% extends 'base.html' %}

{% block head %}
<title>Index Page</title>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="color:hsl(146, 100%, 78%);background-color:hsl(146, 100%, 82%);">
        <div style="margin-top:18%; margin-bottom: 22%;">
            <center><h1 style="font-size:60px;font-family:Sans-seri ;color: black;">Expense Tracker</h1></center>
            <center><h3 style="color:black;">Keep a Track of Employee Expenses for Seamless Accounting & Reimbursement</h3></center>
        </div>
    </div>
{% endblock %}
