{% extends 'base.html' %}


{% block head %}
    <title>About Us</title>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="color:white;background-color:#003B6A;">
        <div style="margin-top:18%; margin-bottom: 22%;">
            <center><h1 style="font-size:60px;font-family:Sans-seri ;">About US</h1></center>
            <center><h3 style="color: #70AE97;">Expense Tracker is a cloud based web application that'll help you to track your Expense</h3></center>
        </div>
    </div>
{% endblock %}