{% extends 'base.html' %}


{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="color:white;background-color:#00ddff;">
        <div style="margin-top:18%; margin-bottom: 22%;">
            {{msg}}
            <center><h1 style="font-size:60px;font-family:Sans-seri ;">Expense Tracker</h1></center>
            <center><h3 style="color: #70AE97;">We will never let you go out of set limit!</h3></center>
        </div>
    </div>
{% endblock %}